section.hero.is-primary.is-fullheight
  .hero-body
    .container
      .title #{@time_of_day.titleize} in Johannesburg,
      .subtitle
        => "you can buy castle lites 🥳,"
        = "but can't drink them with mates 😑"